@model IEnumerable<HealthWellness>

<h2>Manage Health and Wellness Preferences</h2>

<!-- Add Profession Form -->
<form asp-action="AddHealthWellness" method="post">
    <input type="text" name="name" placeholder="Enter new preference.." required />
    <button class="btn btn-primary" type="submit">Add Preference</button>
</form>

<!-- Profession List -->
<table>
    <thead>
        <tr>
            <th>Preference Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var healthWellness in Model)
        {
            <tr>
                <td>@healthWellness.Name</td>
                <td>
                    <form asp-action="RemoveHealthWellness" method="post">
                        <input type="hidden" name="id" value="@healthWellness.Id" />
                        <button class="btn btn-primary" type="submit">Remove</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>


<br />
<br />

<a class="btn btn-primary" asp-controller="UserAdmin" asp-action="DataEntry">
    Back to Menu
</a>
