@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h3>Manage Data Entry</h3>
    <div class="bd-example">
        <form>
            <table>
                <tr>
                    <td colspan="3">
                        <label for="dietPref">Manage Dietary Preferences</label>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="text" id="preference" placeholder="Enter new preference.." />
                    </td>
                    <td>
                        <a class="btn btn-primary" href="#">Add Preference</a>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <label for="guestPref">Dietary Preference Actions</label>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label for="vegan">Vegan</label>
                    </td>
                    <td>
                        <button class="btn btn-primary" href="#">Remove</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label for="vegetarian">Vegetarian</label>
                    </td>
                    <td>
                        <button class="btn btn-primary" href="#">Remove</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label for="halal">Halal</label>
                    </td>
                    <td>
                        <button class="btn btn-primary" href="#">Remove</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <hr />

    <div class="bd-example">
        <form>
            <table>
                <tr>
                    <td colspan="3">
                        <label for="dietAllergy">Manage Food Allergies</label>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="text" id="allergy" placeholder="Enter new allergy.." />
                    </td>
                    <td>
                        <a class="btn btn-primary" href="#">Add Allergy</a>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <label for="guestAllergy">Food Allergy Actions</label>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label for="nut">Nut Allergy</label>
                    </td>
                    <td>
                        <button class="btn btn-primary" href="#">Remove</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label for="shellfish">Shellfish</label>
                    </td>
                    <td>
                        <button class="btn btn-primary" href="#">Remove</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label for="noneOf">None of Above</label>
                    </td>
                    <td>
                        <button class="btn btn-primary" href="#">Remove</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <hr />

    <div class="bd-example">
        <form>
            <table>
                <tr>
                    <td colspan="3">
                        <label for="medicalReq">Manage Medical Requirement</label>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="text" id="requirement" placeholder="Enter new requirement.." />
                    </td>
                    <td>
                        <a class="btn btn-primary" href="#">Add Requirement</a>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <label for="guestMedical">Medical Requirement Actions</label>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label for="diabetic">Diabetic</label>
                    </td>
                    <td>
                        <button class="btn btn-primary" href="#">Remove</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label for="intolerance">Food Intolerance</label>
                    </td>
                    <td>
                        <button class="btn btn-primary" href="#">Remove</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label for="hypertension">Hypertension</label>
                    </td>
                    <td>
                        <button class="btn btn-primary" href="#">Remove</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <hr />

    <div class="bd-example">
        <form>
            <table>
                <tr>
                    <td colspan="3">
                        <label for="wellnessPref">Manage Wellness Preferences</label>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="text" id="requirement" placeholder="Enter new preference.." />
                    </td>
                    <td>
                        <a class="btn btn-primary" href="#">Add Preference</a>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <label for="guestWellness">Guest Wellness Actions</label>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label for="organic">Organic Food</label>
                    </td>
                    <td>
                        <button class="btn btn-primary" href="#">Remove</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label for="wholeFoods">Whole Foods Diet</label>
                    </td>
                    <td>
                        <button class="btn btn-primary" href="#">Remove</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label for="noneAbove">None of Above</label>
                    </td>
                    <td>
                        <button class="btn btn-primary" href="#">Remove</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <hr />

    <div class="bd-example">
        <form>
            <table>
                <tr>
                    <td colspan="3">
                        <label for="accessPref">Manage Accessibility Preferences</label>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="text" id="requirement" placeholder="Enter new preference.." />
                    </td>
                    <td>
                        <a class="btn btn-primary" href="#">Add Preference</a>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <label for="guestWellness">Accessibility Preferences Actions</label>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label for="wchair">Wheelchair</label>
                    </td>
                    <td>
                        <button class="btn btn-primary" href="#">Remove</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label for="mobility">Mobility Assistance</label>
                    </td>
                    <td>
                        <button class="btn btn-primary" href="#">Remove</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label for="gymPool">Gym and Pool</label>
                    </td>
                    <td>
                        <button class="btn btn-primary" href="#">Remove</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
}
