@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <div class="bd-example">
        <form>
            <div class="form-group">
                <label for="fName">First Name</label>
                <input type="text" class="form-control" id="fName" placeholder="First Name.." style="width:250px" />
            </div>
            <div class="form-group">
                <label for="lName">Last Name</label>
                <input type="text" class="form-control" id="lName" placeholder="Last Name.." style="width:250px">
            </div>
            <div>
                <label>Gender</label>
                <input type="checkbox" id-"IsMale" /> Male <input type="checkbox" id-"IsFemale" /> Female
            </div>
            <div class="form-group form-row">
                <label for="profession">Select Profession</label>
                <select class="form-control" id="profession" style="width:250px">
                    @foreach (var profession in Model)
                    {
                        <option value="@profession.Id">@profession.Name</option>
                    }
                </select>
            </div>
            <div class="form-group form-row">
                <label for="address">Address</label>
                <input type="text" class="form-control" id="address" placeholder="Address.." style="width:250px">
            </div>
            <div class="form-group form-row">
                <label for="contactNo">Contact Number</label>
                <input type="text" class="form-control" id="contactNo" placeholder="Phone Number.." style="width:250px">
            </div>
            <div class="form-group form-row">
                <label for="emailAdd">Email Address</label>
                <input type="email" class="form-control" id="emailAdd" placeholder="Email Address.." style="width:250px">
            </div>
            <div class="form-group form-row">
                <label for="birthDate">Date of Birth</label>
                <input type="date" class="form-control" id="birthDate" style="width:250px">
            </div>
            <div class="form-group form-row">
                <label for="resDate">Reservation Date</label>
                <input type="date" class="form-control" id="resDate" style="width:250px">
            </div>
            <br />
            <br />
            <a class="btn btn-primary" asp-controller="Home" asp-action="Main">Submit</a>
        </form>
    </div>
}

