@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>
        “We’ve saved a seat for you! Let’s make your next event unforgettable.”
    </h3>

    <img src="~/Images/table.jpg" style="width:100%; height 500px;"/>
</div>
